@import 'partials/fonts';

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

$color1: rgb(62, 183, 103);
$color2: rgb(239, 59, 36);
$color3: rgb(236, 142, 35);
$color4: rgb(58, 57, 56);
$color5: rgb(103, 103, 103);
$color6: rgb(10, 14, 10);


body {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

    .phone {
        width: 280px;
        min-width: 280px;
        max-width: 280px;
        height: 500px;
        min-height: 500px;
        max-height: 500px;
        border: 6px solid $color6;
        border-left: 10px solid $color6;
        border-right: 10px solid $color6;
        border-radius: 30px;
        overflow: hidden;
        transform: scale(1.1);
        box-shadow: 0px 1px 7px 1px rgba(0, 0, 0, 0.1) !important;

        //padding: 5px 10px;
        //cursor: pointer;
        .notifications {
            font-size: 11px;
            color: $color4;
            background: rgba(128, 128, 128, 0.158);
            padding: 5px 10px;
            user-select: none;
        }

        .app-body {
            scrollbar-width: thin;
            scrollbar-color: $color3 $color2;

            &,
            * {
                box-sizing: border-box;
            }

            &::-webkit-scrollbar {
                width: 4px;
                height: 8px;
            }

            &::-webkit-scrollbar-track {
                background: $color2;
            }

            &::-webkit-scrollbar-thumb {
                background-color: $color3;
            }

            height: calc(100% - 22px);
            overflow-y: auto;

            .logo-container {
                display: flex;
                justify-content: center;
                align-items: center;
                padding: 5px;
                // position: sticky;
                // top: 0;
                // z-index: 10;
                background: white;
                width: 100%;
                position: fixed;

                box-shadow: 0px 1px 7px 1px rgba(0, 0, 0, 0.1) !important;

                img {
                    display: block;
                    width: 30px;
                }

                p {
                    font-size: 20px;
                    color: $color2;
                }
            }

            .return-area {
                margin-top: 50px;
                font-size: 15px;
                padding: 5px 0px;
                // display: flex;
                // align-items: center;
                color: $color4;

                a {
                    color: $color4;
                    text-decoration: none;
                    font-size: 18px;
                    // display: flex;
                    // justify-content: center;
                    // align-items: center;
                    margin-left: 10px;
                    margin-top: 10px;
                    // width: 20px;
                    // height: 20px;
                    cursor: pointer;
                    transition: 0.3s;

                    &:hover {
                        //background: $color3;
                        color: $color3;
                    }
                }

                p {
                    //width: 100%;
                    //text-align: center;
                    //font-weight: bold;
                    padding: 5px;
                    padding-left: 8px;
                    font-size: 18px;
                }
            }

            .place-before {
                padding: 5px 10px;
                display: flex;
                align-items: center;

                img {
                    display: block;
                    width: 45px;
                    height: 45px;
                }

                .place-title {
                    font-size: 12px;
                    padding-left: 3px;

                    p {
                        &:nth-child(1) {
                            font-weight: bold;
                            color: $color3;
                        }

                        &:nth-child(2) {
                            font-size: 10px;
                            color: $color4;
                        }
                    }
                }
            }

            textarea {
                width: 94%;
                min-width: 94%;
                max-width: 94%;
                height: 25%;
                min-height: 25%;
                max-height: 25%;
                border: 0px;
                //border-top: 1px solid $color1;
                background: rgb(240, 240, 240);
                color: $color6;
                padding: 10px;
                font-family: inherit;
                display: block;
                font-size: 13px;
                margin: 5px auto;

                //margin: 30px 0px;
                &:focus {
                    outline: 0;

                }

                scrollbar-width: thin;
                scrollbar-color: $color3 $color2;

                &,
                * {
                    box-sizing: border-box;
                }

                &::-webkit-scrollbar {
                    width: 4px;
                    height: 8px;
                }

                &::-webkit-scrollbar-track {
                    background: $color2;
                }

                &::-webkit-scrollbar-thumb {
                    background-color: $color3;
                }
            }

            .stars-container {
                display: flex;
                justify-content: space-between;
                align-items: center;
                padding: 2.5px 10px;

                .rate {
                    color: $color5;
                    cursor: pointer;
                    &:hover {
                        color: $color6;
                    }
                    .fa-star {
                        transition: 0.3s;
                        &:hover, &.active {
                            color: $color1;
                        }
                    }
                }

                .fa-camera {
                    text-decoration: none;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    background: $color3;
                    color: white;
                    width: 35px;
                    height: 35px;
                    transition: 0.3s;
                    &:hover {
                        background: $color2;
                    }
                }
            }

            .btn-center {
                display: block;
                text-align: center;
                background: $color1;
                color: white;
                text-decoration: none;
                font-weight: bold;
                padding: 10px;
                width: 150px;
                margin: 10px auto;
                transition: 0.3s;
                &:hover {
                    background: $color2;
                }
            }

            .photosGalery {
                margin: 2.5px;
                display: flex;
                justify-content: space-around;
                img {
                    width: 50px;
                    height: 50px;
                }
            }
            .photosGalery2 {
                margin: 2.5px;
                display: flex;
                justify-content: space-around;
                flex-wrap: wrap;
                img {
                    width: 72px;
                    height: 72px;
                    margin: 5px;
                    border: 2px solid white;
                    transition: 0.3s;
                    cursor: pointer;
                    &.active {
                        border: 2px solid $color3;
                        //filter: grayscale(50%);
                    }
                }
            }
        }
    }
}